<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">

        <main>
            <div class="jumbotron">

                <a href="/"><h1>Mock Bitly Project</h1></a>
                <p>Something is wrong here. Check the URL or Retry.</p>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

    </body>
</html>
